html,
body {
  min-height: 100%;
}

#__next {
  height: 100%;
}

code {
  font-family: 'Poppins', 'Poppins Fallback', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  padding: 0.1rem 0.4rem;
  font-size: 90%;
  color: #d400ff;
  border-radius: 0.1335rem;
}

code:not([class*='language-']):before,
code:not([class*='language-']):after {
  content: '`';
}

code[class*='language-'] {
  padding: 0;
}

.clip-and-game-plan {
  /* min-height: 500px; */
  height: auto;
  display: flex;
  flex-direction: column;
}

.clip-and-game-plan .nav-link {
  background-color: whitesmoke !important;
  color: black !important;
  border-radius: 0 !important;
  min-width: 100px;
}

.clip-and-game-plan .theme-tab.nav-tabs {
  justify-content: space-around !important;
}

.clip-and-game-plan .nav.nav-tabs {
  flex-wrap: nowrap;
  /* overflow: auto; */
  padding: 0;
}

.clip-and-game-plan .nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

/* .clip-and-game-plan .nav-tabs .nav-link {
  border-radius: 0;
} */

.clip-and-game-plan .theme-tab .nav-tabs {
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 20px;
}


.clip-and-game-plan .nav-link {
  font-size: calc(14px + 1*(100vw - 320px) / 1600);
  font-weight: 700;
  min-height: 30px;
  border-radius: 10px;
  min-width: 140px;
  background-color: #eff1f2;
  border: none !important;
  color: #223645 !important;
  text-align: center;
  transition: all .3s ease;
  justify-content: center;
  padding: 8px 16px;
}

/* .clip-and-game-plan .nav-link {
  background-color: whitesmoke !important;
  color: black !important;
  border-radius: 0 !important;
  min-width: 100px;
} */


.clip-and-game-plan .nav-link:hover,
.clip-and-game-plan .activelink {
  color: white !important;
  background-color: #000080 !important;
  border-radius: 0 !important;
}

.clip-and-game-plan .theme-tab.sub-nav {
  border: 0;
}

.collapse-block.open .block-title {
  padding-bottom: 25px;
  transition: all 0.3s ease;
}

.collapse-block .block-title {
  padding-bottom: 10px;
  position: relative;
  transition: all 0.3s ease;
  cursor: pointer;
}

.collapse-block .block-title:after {
  position: absolute;
  display: inline-block;
  content: "\f107";
  font-family: FontAwesome;
  /* color: $dark-color; */
  right: 0;
  top: -4px;
  font-size: 20px;
}